<div id="Footer">
<h5>Mais Informações</h5>

<p>e-mail:</p>
<p>Telefone:</p>
<h5>Está esperando o que para ser afiliado e começar a ganhar</h5>
<br>
<h5>Não se esqueça só este mes o valor será de:</h5>
<br>
<p>twitter  Facebook  Instagran Whatsapp</p>

<section class="Adress">

<p>Origamid © 2012 - 2017. Alguns direitos reservados. CNPJ: 23.811.568/0001-98</p>
<p>Praia de Botafogo, 300, 5º andar - Botafogo - Rio de Janeiro - RJ - 22250-040.</p>
<p>Principais referências utilizadas para a criação deste guia: CSS Tricks e MDN</p>

</section>

</div>

<article>
<p>desenvolvido por ERO Tecnologia do Brasil</p>
</article>
