<div>
  <section>
    <article>
      <p>
        What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley
      </p>
      <p><a href="https://web.whatsapp.com/send?phone=5511963584493"><h4>Whatsap</h4></a></p>

      <a href="https://www.weatherapi.com/" title="Free Weather API"
        ><img
          src="//cdn.weatherapi.com/weather/64x64/night/113.png"
          alt="Weather data by WeatherAPI.com"
      /></a>
    </article>
  </section>
</div>
